body {

	margin: 0;

}

.square {

	height: 400px;
	width: 400px;
	background: rgb( 88, 136, 221 );
	margin: 5px;
	position: relative;

}

.smallsquare {

	height: 75px;
	width: 75px;
	background: rgb( 246, 206, 87 );
	position: absolute;
	top: 0px;
	right: 0px;

}