body {

	margin: 0;

}

.square {

	height: 400px;
	width: 400px;
	background: rgb( 88, 136, 221 );
	margin: 5px;
	position: relative;

}

.smallsquare {

	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background: rgb( 246, 206, 87 );
	position: absolute;
	margin: 10px;

}